body {
    display: flex;
    justify-content: space-between;
}

.minskClock {
    width: 50%;
}

.newYorkClock {
    width: 50%;
}

.face {
    stroke-width: 2px;
    stroke: rgb(177, 169, 169);
    fill: #333;
}

.hours, .minutes, .seconds {
    stroke-width: 1px;
    fill: #333;
    stroke: #555;
}

.seconds {
    stroke: #f55;
}